@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #0b0b0b; }
::-webkit-scrollbar-thumb { background: #FFD700; border-radius: 10px; }